@keyframes float-up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes float-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

body.dark-mode {
    background: #1a1a1a;
    transition: background 0.3s ease;
}

body.light-mode {
    background: #f0f0f0;
    transition: background 0.3s ease;
}

.clock-container {
    position: relative;
    background: rgba(85, 85, 85, 0.1);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
    z-index: 5;
    min-width: 250px;
    text-align: center;
}

body.dark-mode .clock-container {
    border: 1px solid rgba(255, 255, 255, 0.1); /* Darker border for dark mode */
}

.time-display {
    font-size: 48px;
    color: #ffffff;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
    font-family: 'Roboto Mono', monospace;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.light-mode .time-display {
    color: #000000;
}

.dot {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    z-index: 1;
}

.dot1 {
    background: linear-gradient(135deg, #2600ff, #27c911);
    top: calc(50% - 95px);
    left: calc(50% - 240px);
    animation: float-up 4s ease-in-out infinite;
}

.dot2 {
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    bottom: calc(50% - 95px);
    right: calc(50% - 240px);
    animation: float-down 4s ease-in-out infinite;
}

.dark-mode .dot1, .dark-mode .dot2 {
    opacity: 0.8;
}

.light-mode .dot1, .light-mode .dot2 {
    opacity: 0.6;
}

.tip {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff88;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}

.light-mode .tip {
    color: #0000008f;
}
